
.btn {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    color: $light-blue;
    transition: linear 0.8s;

    &:hover {
        background-color: $btn-hover;
        color: $white;
    }
}